.input:focus {
    border: 2px solid black;
}

.input {

    width: 370px;
    height: 36px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

}

.superInput {
    border: 2px solid black;
}

.errorInput {
    border: 2px solid red;
}

.errorInput:focus {
    border: 2px solid red;
}

.error {
color: red;
}

