.App {
    --header_height: 60px;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hw {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100vw;
    height: auto;
    border-color: #983a3a;
    padding: 0 70px 20px 70px;
}

.hwTitle {
    margin-left: 70px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #000;
}