.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.error {
    color: red;
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 370px;
    height: 35px;
}

.input:focus {
    border: 2px solid #d1d1d1;
    width: 370px;
    height: 35px;
}

.errorInput {
    border: 2px solid red;
    width: 370px;
    height: 35px;
}

.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background: blue;

}

.button:focus {
    border: 2px solid;
}

.button:active {
    border: 2px solid;
    background-color: blue;
}

.button:disabled {
    background-color: grey;
    opacity: 0.5;
}

.text {
}

.greeting {
}
